a {
    float: left;
    text-align: left;
    font-size: 12px;
    color: black;
}

a:hover {
    color: white;
}

body {
    background-color: cornflowerblue;
    padding: 15px;
}

.err {
    color: red;
    font-weight: bold;
}

fieldset {
    border: black 2px solid;
    padding: 15px;
}

h1 {
    text-align: center;
}

p {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

span {
    display: none;
}

table, td, th, tr {
    border: 1px black solid;
}