a {
    font-size: 30px;
    color: black;
    padding-right: 20px;
}

a:hover {
    color: gold;
}

body {
    background-color: mediumpurple;
    margin: 3em;
    font-size: 2em;
}

div .inner {
    margin-bottom: 10px;
    border: 4px solid gold;
    background-color: #fffef2;
    padding: 50px;
}

h1, h2{
    text-align: center;
}

h1 {
    font-size: 75px;
}

img {
    display: block;
    padding: 15px;
    margin: auto;
    height: 250px;
}

li {
    list-style: circle;
}

.remove-format {
    background-color: inherit;
    border: none;
}